# JWT
JWT_SECRET=changeme

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=chattt

# Frontend base URL (for links in emails)
FRONTEND_URL=http://localhost:3000

# SMTP credentials
SMTP_HOST=smtp.tem.scaleway.com
SMTP_PORT=465
SMTP_USER=d7ec1ecd-d188-4c00-afaf-1d73428dc113
SMTP_PASS=password123
MAIL_FROM=chattt-local@ageronjoachim.com
